:root { 
--white_A700_7f:#ffffff7f; 
--blue_A400:#1979ff; 
--orange_100_01:#ffe6a5; 
--blue_A200:#338af3; 
--light_blue_500:#00aeeb; 
--gray_900_4f:#0912424f; 
--gray_900_0c:#1018280c; 
--yellow_800:#f6b426; 
--blue_gray_700:#475466; 
--white_A700_19:#ffffff19; 
--blue_gray_900_01:#233651; 
--blue_gray_900:#1d2838; 
--gray_900_0f:#151c270f; 
--red_A700:#d80027; 
--blue_900:#0052b4; 
--blue_gray_100:#cfd4dc; 
--blue_700:#0b63e5; 
--blue_gray_300:#9ba4b1; 
--blue_gray_500:#666b89; 
--amber_300:#ffd956; 
--yellow_A700:#ffd900; 
--gray_200:#f0f0f0; 
--gray_100_02:#f2f4f7; 
--white_A700_26:#ffffff26; 
--indigo_900_01:#26326f; 
--gray_100_01:#f2f3f6; 
--indigo_900_02:#1a2f5c; 
--gray_50_19:#f8f9fb19; 
--blue_100:#cee0fa; 
--white_A700:#ffffff; 
--indigo_600:#354ab5; 
--red_700:#da2032; 
--blue_gray_50:#eaecf0; 
--white_A700_1e:#ffffff1e; 
--indigo_A200:#6c6ce6; 
--blue_gray_900_0a:#061c3d0a; 
--light_blue_900_19:#00468c19; 
--gray_50:#f8f9fb; 
--light_blue_800:#0066b3; 
--green_A400:#25d56f; 
--black_900:#000000; 
--yellow_700:#ffb629; 
--red_A400:#f61b45; 
--black_900_26:#00000026; 
--gray_900_02:#0f1728; 
--white_A700_e5:#ffffffe5; 
--gray_900_03:#141414; 
--gray_900_04:#101828; 
--gray_900_05:#151c27; 
--blue_gray_400:#838e9e; 
--gray_900:#091242; 
--gray_900_01:#1c1f35; 
--amber_300_01:#ffd550; 
--blue_gray_300_01:#98a1b2; 
--gray_100:#f2f2f2; 
--orange_100:#ffd6a5; 
--gray_900_7f:#031b377f; 
--indigo_A400:#435fe8; 
--indigo_900:#101b55; 
}